@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@120&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fceea7;
    background-image: url('bg.JPG');
    background-size: cover;
    font-family: 'M PLUS 1 Code', sans-serif;
    padding:0;
    margin:0;
}

.center-container {
    margin-left: 25%;
    margin-right: 25%;
}

.title-container {
    height: 20vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.themes-container::-webkit-scrollbar {
    display: none;
  }

.themes-container {
    overflow-y:scroll;
    height:80vh;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.theme-container {
    backdrop-filter: blur(2px);
    border-radius: 2em;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.theme-header {
    background-color:rgba(0, 0, 0, 0.55);
    padding: 1em;
    border-radius: 2em 2em 0 0;

}

.theme-paragraph {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    border-radius: 0 0 2em 2em;
}
